alabaster==0.7.12
allennlp==0.8.4
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
awscli==1.16.305
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
blis==0.2.4
boto3==1.10.34
botocore==1.13.41
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
conllu==0.11
cycler==0.10.0
cymem==2.0.2
decorator==4.4.1
defusedxml==0.6.0
docutils==0.15.2
editdistance==0.5.3
entrypoints==0.3
flaky==3.6.1
Flask==1.1.1
Flask-Cors==3.0.8
ftfy==5.6
gevent==1.4.0
greenlet==0.4.15
h5py==2.10.0
idna==2.8
imagesize==1.1.0
importlib-metadata==1.2.0
ipykernel==5.1.3
ipython==7.10.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jsonnet==0.14.0
jsonpickle==1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kiwisolver==1.1.0
LabelModels==0.0.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
more-itertools==8.0.2
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==4.4.0
nltk==3.4.5
notebook==6.0.2
numpy==1.17.4
numpydoc==0.9.1
overrides==2.5
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.1
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pycodestyle==2.5.0
Pygments==2.4.2
pyparsing==2.4.5
pyrsistent==0.15.6
pytest==5.3.1
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2019.3
PyYAML==5.1
pyzmq==18.1.1
qtconsole==4.6.0
regex==2019.11.1
requests==2.22.0
responses==0.10.6
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.22
scipy==1.3.3
Send2Trash==1.5.0
sentencepiece==0.1.83
six==1.13.0
snowballstemmer==2.0.0
spacy==2.1.9
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
srsly==0.2.0
tensorboardX==1.9
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
torch==1.3.1
tornado==6.0.2
tqdm==4.40.0
traitlets==4.3.2
Unidecode==1.0.23
urllib3==1.25.7
wasabi==0.4.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.1
WISER==0.0.1
word2number==1.1
zipp==0.5.1
